<aside class="container-fluid">
    <div class="row">
      <div class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span class="fa fa-home"></span>
                Cadastrar álbum
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/albums">
                <span class="fa fa-images"></span>
                Lista de álbuns
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </aside>
