{% extends "_layouts/default.njk" %}

{% block body %}
  {% include "_partials/header.njk" %}

  {% include "_partials/aside.njk" %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Criar álbum de fotos</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <form action="/albums" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="title">Título do álbum:</label>
            <input type="text" class="form-control" name="title" id="title" />
          </div>
          <div class="form-group">
            <label for="description">Descrição do álbum:</label>
            <textarea name="description" id="description" class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label for="photos">Selecione as fotos</label>
            <input type="file" class="form-control-file" name="photos" id="photos" multiple="true" />
          </div>

          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
